.ts-items{margin:20px 0;}
.ts-items input[type="text"] {
width: 280px;
background: #FFF;
border: 1px solid #ECECEC;
height: 30px;
padding-left: 15px;
color: #818183;
font-size: 12px;
}

.btn.grey{
background: #818183;
height: 30px;
line-height: 27px;
color: #FFF;
font-size: 12px;
font-family: Tahoma, Arial, sans-serif;
text-transform: uppercase;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border:none;
}